@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-color: 236, 198, 159;
  }

  html {
    @apply font-serif;
  }

  body {
    @apply bg-white;
  }

  main {
    background: radial-gradient(
        circle at 0 100%,
        rgba(var(--base-color), 0.3) 0%,
        rgba(var(--base-color), 0) 30%
      ),
      radial-gradient(
        circle at 100% 0,
        rgba(var(--base-color), 0.3) 0%,
        rgba(var(--base-color), 0) 15%
      );
  }

  a:not(.button, :has(*)) {
    @apply text-light-600 hover:underline;
  }

  b {
    @apply font-semibold;
  }
  i {
    @apply italic;
  }
  h1,
  h2,
  h3 {
    @apply font-bold;
  }
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea,
  select,
  div.input {
    @apply appearance-none border-none bg-transparent outline-none focus:ring-0 placeholder:text-gray-400;
  }
  input:is([type="checkbox"], [type="radio"]) {
    @apply h-4 w-4 cursor-pointer transition-all appearance-none border border-dark checked:bg-dark checked:border-dark checked:disabled:bg-gray-500 hover:disabled:cursor-none disabled:border-gray-500;
  }
  input[type="checkbox"] {
    @apply rounded;
  }
  input[type="radio"] {
    @apply rounded-full;
  }

  @media print {
    main {
      background: unset;
    }

    main::before {
      @apply fixed top-0 left-0 w-screen h-screen -z-10;
      content: "";
      background: radial-gradient(
          circle at 0 100%,
          rgba(var(--base-color), 0.3) 0%,
          rgba(var(--base-color), 0) 30%
        ),
        radial-gradient(
          circle at 100% 0,
          rgba(var(--base-color), 0.3) 0%,
          rgba(var(--base-color), 0) 15%
        );
    }
  }
}

@layer utilities {
  .w-lg-center {
    @apply max-w-lg w-full mx-auto;
  }

  div.content > *:not(:last-child) {
    @apply mb-2;
  }

  div.content > p {
    @apply text-justify;
  }

  .decoration {
    background: radial-gradient(
        circle 80px at 20px 20px,
        rgba(var(--base-color), 0.15) 0%,
        rgba(var(--base-color), 0.15) 100%,
        transparent 100%
      ),
      radial-gradient(
        circle 120px at calc(100% - 40px) calc(100% + 60px),
        rgba(var(--base-color), 0.15) 0%,
        rgba(var(--base-color), 0.15) 100%,
        transparent 100%
      );
  }

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  .skeleton {
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 3s infinite linear;
  }
}
.tox .tox-toolbar__group {
  @apply !px-1;
}
.tox .tox-toolbar__primary {
  @apply !bg-light !px-1;
}
.tox .tox-tbtn {
  @apply !bg-dark !text-white;
}
.tox .tox-tbtn svg {
  @apply !fill-current;
}

.fade-quick-enter-active,
.fade-quick-leave-active {
  @apply transition-opacity duration-150 ease-in;
}

.fade-quick-enter-from,
.fade-quick-leave-to {
  @apply opacity-0;
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity duration-300 ease-in;
}

.fade-enter-from,
.fade-leave-to {
  @apply opacity-0;
}

.fade-up-enter-active,
.fade-up-leave-active {
  @apply transition-all duration-300 ease-in;
}

.fade-up-enter-from,
.fade-up-leave-to {
  @apply opacity-0 translate-y-4;
}

.move-out-enter-active,
.move-out-leave-active {
  @apply transition-all duration-150 ease-in;
}
.move-out-enter-from {
  @apply translate-y-4;
}
.move-out-leave-to {
  @apply -translate-y-4;
}
.move-out-enter-from,
.move-out-leave-to {
  @apply opacity-0;
}

/* Modal transition */
.modal-enter-active,
.modal-leave-active {
  transition: all 150ms ease-in-out;
}
.modal-leave-active {
  @apply delay-75;
}
.modal-enter-from,
.modal-leave-to {
  @apply opacity-0;
}

.modal-enter-active .card,
.modal-leave-active .card {
  transition: all 200ms ease-in-out;
}
.modal-enter-active .card {
  @apply delay-75;
}
.modal-enter-from .card,
.modal-leave-to .card {
  @apply scale-75 opacity-0;
}
