@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply appearance-none border-none bg-transparent outline-none focus:ring-0 placeholder:text-gray-400;
  }
}

@layer components {
  .w-lg-center {
    @apply max-w-lg w-full mx-auto;
  }
}

:root {
  --base-color: 236, 198, 159;
}

html {
  @apply font-serif;
}

body {
  @apply bg-white;
}

main {
  background: radial-gradient(
      circle at 0 100%,
      rgba(var(--base-color), 0.3) 0%,
      rgba(var(--base-color), 0) 30%
    ),
    radial-gradient(
      circle at 100% 0,
      rgba(var(--base-color), 0.3) 0%,
      rgba(var(--base-color), 0) 15%
    );
}

a:not(.button, :has(*)) {
  @apply text-light hover:underline;
}

b {
  @apply font-semibold;
}
i {
  @apply italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

.decoration {
  background: radial-gradient(
      circle 80px at 20px 20px,
      rgba(var(--base-color), 0.15) 0%,
      rgba(var(--base-color), 0.15) 100%,
      transparent 100%
    ),
    radial-gradient(
      circle 120px at calc(100% - 40px) calc(100% + 60px),
      rgba(var(--base-color), 0.15) 0%,
      rgba(var(--base-color), 0.15) 100%,
      transparent 100%
    );
}

.fade-quick-enter-active,
.fade-quick-leave-active {
  @apply transition-opacity duration-150 ease-in;
}

.fade-quick-enter-from,
.fade-quick-leave-to {
  @apply opacity-0;
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity duration-300 ease-in;
}

.fade-enter-from,
.fade-leave-to {
  @apply opacity-0;
}

.fade-up-enter-active,
.fade-up-leave-active {
  @apply transition-all duration-300 ease-in;
}

.fade-up-enter-from,
.fade-up-leave-to {
  @apply opacity-0 translate-y-4;
}

.move-out-enter-active,
.move-out-leave-active {
  @apply transition-all duration-150 ease-in;
}
.move-out-enter-from {
  @apply translate-y-4;
}
.move-out-leave-to {
  @apply -translate-y-4;
}
.move-out-enter-from,
.move-out-leave-to {
  @apply opacity-0;
}
